<nav class="main-nav">

    <a href="/driver-dashboard">
        My Dashboard
    </a>

    <a href="/driver-calls">
        My Calls
    </a>

    <a href="/driver-status">
        Update Status
    </a>

    <a href="/driver-treatment">
        Treatment Update
    </a>

    <a href="/logout">
        Logout
    </a>

</nav>